{"openapi":"3.0.2","info":{"title":"Amazon Ads API - SponsoredDisplay","version":"3.0","description":"Isolated spec for SponsoredDisplay"},"servers":[{"url":"https://advertising-api.amazon.com","description":"Production endpoint for North America, which includes US and CA Amazon marketplaces."},{"url":"https://advertising-api-eu.amazon.com","description":"Production endpoint for Europe, which includes UK, FR, IT, ES, DE, plus IN Amazon marketplaces."},{"url":"https://advertising-api-fe.amazon.com","description":"Production endpoint for Far East, which includes JP Amazon marketplaces."}],"tags":[{"name":"Campaigns"},{"name":"Ad Groups"},{"name":"Product Ads"},{"name":"Targeting"},{"name":"Targeting Recommendations"},{"name":"Bid Recommendations"},{"name":"Headline Recommendations"},{"name":"Budget Recommendations"},{"name":"Negative Targeting"},{"name":"Creatives"},{"name":"Brand Safety List"},{"name":"Reports"},{"name":"Snapshots"},{"name":"Forecasts"},{"name":"Optimization Rules (beta)"},{"name":"Budget Rules"},{"name":"Budget Usage"},{"name":"Locations (beta)"}],"paths":{"/sd/campaigns":{"get":{"tags":["Campaigns"],"summary":"Gets a list of campaigns.","description":"Gets an array of Campaign objects for a requested set of Sponsored Display campaigns.","operationId":"listCamps","parameters":[{"name":"startIndex","in":"query","description":"Optional. Sets a cursor into the requested set of campaigns. Use in conjunction with the `count` parameter to control pagination of the returned array. 0-ind...","schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","description":"Optional. Sets the number of Campaign objects in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example, t...","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. The returned array is filtered to include only campaigns with state set to one of the values in the specified comma-delimited list.","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"name","in":"query","description":"Optional. The returned array includes only campaign with the specified name using an exact string match.","schema":{"type":"string"}},{"name":"campaignIdFilter","in":"query","description":"Optional. The returned array includes only campaigns with identifiers matching those specified in the comma-delimited string.","schema":{"type":"string"}},{"name":"portfolioIdFilter","in":"query","description":"Optional. The returned array includes only campaigns associated with Portfolio identifiers matching those specified in the comma-delimited string.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Campaign"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Campaigns"],"summary":"Updates one or more campaigns.","operationId":"updateCamps","parameters":[],"requestBody":{"description":"An array of Campaign objects. For each object, specify a campaign identifier and mutable fields with their updated values. The mutable fields are `name`, `state`, `budget`, `startDate`, and `endDat...","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpdateCampaign"}}}},"required":false},"responses":{"207":{"description":"Multi-status.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CampaignResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Campaigns"],"summary":"Creates one or more campaigns.","operationId":"createCamps","parameters":[],"requestBody":{"description":"An array of Campaign objects. For each object, specify required fields and their values. Required fields are `name`, `tactic`, `state`, and `startDate`. Maximum length of the array is 100 objects. ...","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateCampaign"}}}},"required":false},"responses":{"207":{"description":"Multi-status.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CampaignResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/campaigns/{campaignId}":{"get":{"tags":["Campaigns"],"summary":"Gets a requested campaign.","description":"Returns a Campaign object for a requested campaign. Note that the Campaign object is designed for performance, with a small set of commonly used campaign fields to reduce size. If the extended set of fields is required, use the campaign operations that return the CampaignResponseEx object.","operationId":"getCamp","parameters":[{"name":"campaignId","in":"path","description":"The identifier of the requested campaign.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Campaign"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Campaigns"],"summary":"Sets the campaign status to archived.","description":"This operation is equivalent to an update operation that sets the status field to 'archived'. Note that setting the status field to 'archived' is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/en-us/info/developer-notes#archiving) for more information.","operationId":"archiveCamp","parameters":[{"name":"campaignId","in":"path","description":"The identifier of the campaign.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/campaigns/extended":{"get":{"tags":["Campaigns"],"summary":"Gets a list of campaigns with extended fields.","description":"Gets an array of CampaignResponseEx objects for a set of requested campaigns.","operationId":"listCampsEx","parameters":[{"name":"startIndex","in":"query","description":"Optional. Sets a cursor into the requested set of campaigns. Use in conjunction with the `count` parameter to control pagination of the returned array. 0-ind...","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Sets the number of Campaign objects in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example, t...","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. The returned array is filtered to include only campaigns with state set to one of the values in the specified comma-delimited list.","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"name","in":"query","description":"Optional. The returned array includes only campaign with the specified name using an exact string match.","schema":{"type":"string"}},{"name":"campaignIdFilter","in":"query","description":"Optional. The returned array includes only campaigns with identifiers matching those specified in the comma-delimited string.","schema":{"type":"string"}},{"name":"portfolioIdFilter","in":"query","description":"Optional. The returned array includes only campaigns associated with Portfolio identifiers matching those specified in the comma-delimited string.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CampaignResponseEx"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/campaigns/extended/{campaignId}":{"get":{"tags":["Campaigns"],"summary":"Gets extended information for a requested campaign.","description":"Returns a CampaignResponseEx object for a requested campaign. The CampaignResponseEx includes the extended set of available fields.","operationId":"getCampResponseEx","parameters":[{"name":"campaignId","in":"path","description":"The identifier of the requested campaign.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponseEx"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/adGroups":{"get":{"tags":["Ad Groups"],"summary":"Gets a list of ad groups.","description":"Gets an array of AdGroup objects for a requested set of Sponsored Display ad groups.","operationId":"listAdGroups","parameters":[{"name":"startIndex","in":"query","description":"Optional. Sets a cursor into the requested set of campaigns. Use in conjunction with the `count` parameter to control pagination of the returned array. 0-ind...","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Sets the number of AdGroup objects in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example, to...","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. The returned array is filtered to include only ad groups with state set to one of the values in the specified comma-delimited list.","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"campaignIdFilter","in":"query","description":"Optional. The returned array is filtered to include only ad groups associated with the campaign identifiers in the specified comma-delimited list.","schema":{"type":"string"}},{"name":"adGroupIdFilter","in":"query","description":"Optional. The returned array is filtered to include only ad groups with an identifier specified in the comma-delimited list.","schema":{"type":"string"}},{"name":"name","in":"query","description":"Optional. The returned array includes only ad groups with the specified name.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdGroup"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Ad Groups"],"summary":"Updates on or more ad groups.","operationId":"updateAdGroups","parameters":[],"requestBody":{"description":"An array of AdGroup objects. For each object, specify an ad group identifier and mutable fields with their updated values. The mutable fields are 'name', 'defaultBid', and 'state'. Maximum length o...","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpdateAdGroup"}}}},"required":false},"responses":{"207":{"description":"Multi-status.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdGroupResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Ad Groups"],"summary":"Creates one or more ad groups.","operationId":"createAdGroups","parameters":[],"requestBody":{"description":"An array of AdGroup objects. For each object, specify required fields and their values. Required fields are `campaignId`, `name`, `state`, and `defaultBid`. Maximum length of the array is 100 objec...","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateAdGroup"}}}},"required":false},"responses":{"207":{"description":"Multi-status.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdGroupResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/adGroups/{adGroupId}":{"get":{"tags":["Ad Groups"],"summary":"Gets a requested ad group.","description":"Returns an AdGroup object for a requested campaign. Note that the AdGroup object is designed for performance, with a small set of commonly used ad group fields to reduce size. If the extended set of fields is required, use the campaign operations that return the AdGroupResponseEx object.","operationId":"getAdGroup","parameters":[{"name":"adGroupId","in":"path","description":"The identifier of the requested ad group.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdGroup"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Ad Groups"],"summary":"Sets the ad group status to archived.","description":"This operation is equivalent to an update operation that sets the status field to 'archived'. Note that setting the status field to 'archived' is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/en-us/info/developer-notes#archiving) for more information.","operationId":"archiveAdGroup","parameters":[{"name":"adGroupId","in":"path","description":"The identifier of the requested ad group.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdGroupResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/adGroups/extended":{"get":{"tags":["Ad Groups"],"summary":"Gets a list of ad groups with extended fields.","description":"Gets an array of AdGroupResponseEx objects for a set of requested ad groups.","operationId":"listAdGroupsEx","parameters":[{"name":"startIndex","in":"query","description":"Optional. Sets a cursor into the requested set of ad groups. Use in conjunction with the `count` parameter to control pagination of the returned array. 0-ind...","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Sets the number of Campaign objects in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example, t...","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. The returned array is filtered to include only campaigns with state set to one of the values in the comma-delimited list.","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"campaignIdFilter","in":"query","description":"Optional. The returned array is filtered to include only ad groups associated with the campaign identifiers in the comma-delimited list.","schema":{"type":"string"}},{"name":"adGroupIdFilter","in":"query","description":"Optional. The returned array is filtered to include only ad groups with an identifier specified in the comma-delimited list.","schema":{"type":"string"}},{"name":"name","in":"query","description":"Optional. The returned array includes only ad groups with the specified name.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdGroupResponseEx"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/adGroups/extended/{adGroupId}":{"get":{"tags":["Ad Groups"],"summary":"Gets extended information for a requested ad group.","operationId":"getAdGroupResponseEx","parameters":[{"name":"adGroupId","in":"path","description":"The identifier of the requested ad group.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdGroupResponseEx"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/productAds":{"get":{"tags":["Product Ads"],"summary":"Gets a list of product ads.","description":"Gets an array of ProductAd objects for a requested set of Sponsored Display product ads.","operationId":"listProductAds","parameters":[{"name":"startIndex","in":"query","description":"Optional. Sets a cursor into the requested set of product ads. Use in conjunction with the `count` parameter to control pagination of the returned array. 0-i...","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Sets the number of ProductAd objects in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example, ...","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. The returned array is filtered to include only products ads associated with campaigns that have state set to one of the values in the comma-delimit...","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"adIdFilter","in":"query","description":"Optional. The returned array includes only product ads with identifiers matching those in the comma-delimited string.","schema":{"type":"string"}},{"name":"adGroupIdFilter","in":"query","description":"Optional. The returned array is filtered to include only products ads associated with ad groups identifiers in the comma-delimited list.","schema":{"type":"string"}},{"name":"campaignIdFilter","in":"query","description":"Optional. The returned array is filtered to include only product ads associated with the campaign identifiers in the comma-delimited list.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductAd"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Product Ads"],"summary":"Updates one or more product ads.","operationId":"updateProductAds","parameters":[],"requestBody":{"description":"An array of ProductAd objects. For each object, specify a product ad identifier and the only mutable field, `state`. Maximum length of the array is 100 objects.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpdateProductAd"}}}},"required":false},"responses":{"207":{"description":"Multi-status.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductAdResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Product Ads"],"summary":"Creates one or more product ads.","operationId":"createProductAds","parameters":[],"requestBody":{"description":"An array of ProductAd objects. For each object, specify required fields and their values. Required fields are `adGroupId` and `state`. Within any campaign, you must pass consistent fields of either...","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateProductAd"}}}},"required":false},"responses":{"207":{"description":"Multi-status.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductAdResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/productAds/{adId}":{"get":{"tags":["Product Ads"],"summary":"Gets a requested product ad.","description":"Note that the ProductAd object is designed for performance, and includes a small set of commonly used fields to reduce size. If the extended set of fields is required, use a product ad operations that returns the ProductAdResponseEx object.","operationId":"getProductAd","parameters":[{"name":"adId","in":"path","description":"The identifier of the requested product ad.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductAd"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Product Ads"],"summary":"Sets the status of a sproduct ad to archived.","description":"This operation is equivalent to an update operation that sets the status field to 'archived'. Note that setting the status field to 'archived' is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/en-us/info/developer-notes#archiving) for more information.","operationId":"archiveProductAd","parameters":[{"name":"adId","in":"path","description":"The identifier of the produce ad.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductAdResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/productAds/extended":{"get":{"tags":["Product Ads"],"summary":"Gets a list of product ads with extended fields.","description":"Gets an array of ProductAdResponseEx objects for a set of requested ad groups. The ProductAdResponseEx object includes the extended set of available fields.","operationId":"listProductAdsEx","parameters":[{"name":"startIndex","in":"query","description":"Optional. Sets a cursor into the requested set of product ads. Use in conjunction with the `count` parameter to control pagination of the returned array. 0-i...","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Sets the number of ProduceAdEx objects in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example...","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. The returned array is filtered to include only campaigns with state set to one of the values in the specified comma-delimited list.","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"adIdFilter","in":"query","description":"Optional. The returned array includes only product ads with identifiers matching those in the comma-delimited string.","schema":{"type":"string"}},{"name":"adGroupIdFilter","in":"query","description":"Optional. The returned array is filtered to include only products ads associated with ad groups identifiers in the comma-delimited list.","schema":{"type":"string"}},{"name":"campaignIdFilter","in":"query","description":"Optional. The returned array is filtered to include only product ads associated with the campaign identifiers in the comma-delimited list.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductAdResponseEx"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/productAds/extended/{adId}":{"get":{"tags":["Product Ads"],"summary":"Gets extended information for a product ad.","operationId":"getProductAdResponseEx","parameters":[{"name":"adId","in":"path","description":"The identifier of the requested product ad.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductAdResponseEx"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/brandSafety/deny":{"get":{"tags":["Brand Safety List"],"summary":"Gets a list of websites/apps that are on the advertiser's Brand Safety Deny List.","description":"Gets an array of websites/apps that are on the advertiser's Brand Safety Deny List. It can take up to 15 minutes\nfrom the time a domain is added/deleted to the time it is reflected in the deny list.","operationId":"listDomains","parameters":[{"name":"startIndex","in":"query","required":false,"description":"Optional. Sets a cursor into the requested set of domains. Use in conjunction with the count parameter to control pagination of the returned array. 0-indexed...","schema":{"type":"integer","minimum":0}},{"name":"count","in":"query","required":false,"description":"Optional. Sets the number of domain objects in the returned array. Use in conjunction with the startIndex parameter to control pagination. For example, to re...","schema":{"type":"integer","minimum":0,"maximum":1000}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandSafetyGetResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Brand Safety List"],"summary":"Creates one or more domains to add to a Brand Safety Deny List.\n","description":"Creates one or more domains to add to a Brand Safety Deny List. The Brand Safety Deny List is at the advertiser level. It can take up to 15 minutes from the time a domain is added to the time it is reflected in the deny list.\n","operationId":"createBrandSafetyDenyListDomains","parameters":[],"requestBody":{"description":"An array of Brand Safety List Domain objects. For each object, specify required fields and their values. Maximum length of the array is 10,000 objects.\n","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandSafetyPostRequest"}}}},"responses":{"202":{"description":"Request has been accepted for processing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandSafetyUpdateResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Brand Safety List"],"summary":"Archives all of the domains in the Brand Safety Deny List.\n","description":"Archives all of the domains in the Brand Safety Deny List.","operationId":"deleteBrandSafetyDenyList","parameters":[],"responses":{"202":{"description":"Request has been accepted for processing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandSafetyUpdateResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/reports/{reportId}":{"get":{"tags":["Reports"],"summary":"Gets the status of a report previously requested.","description":"Uses the `reportId` value from the response of a report previously requested via `POST` method of the `/sd/{recordType}/report` operation.\n\n**To understand the call flow for asynchronous reports, see [Getting started with sponsored ads reports](/API/docs/en-us/guides/reporting/v2/sponsored-ads-re...","operationId":"getReportStatus","parameters":[{"name":"reportId","in":"path","description":"The identifier of the requested report.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/reports/{reportId}/download":{"get":{"tags":["Reports"],"summary":"Downloads a previously requested report identified by reportId.","description":"Gets a `307 Temporary Redirect` response that includes a `location` header with the value set to an AWS S3 path where the report is located.","operationId":"downloadReport","parameters":[{"name":"reportId","in":"path","description":"The identifier of the requested report.","required":true,"schema":{"type":"string"}}],"responses":{"307":{"description":"Successful operation."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/{recordType}/report":{"post":{"tags":["Reports"],"summary":"Creates a report request.","deprecated":true,"description":"**To understand the call flow for asynchronous reports, see [Getting started with sponsored ads reports](/API/docs/en-us/guides/reporting/v2/sponsored-ads-reports).**\n\nThe Sponsored Display API supports creation of reports for campaigns, ad groups, product ads, targets, and asins.","operationId":"requestReport","parameters":[{"name":"recordType","in":"path","description":"The type of report to generate, either `campaigns`, `adGroups`, `productAds`, `targets`, or `asins`. The 'asins' report, also known as the Purchased products...","required":true,"schema":{"type":"string","enum":["campaigns","adGroups","productAds","targets","asins"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}},"required":false},"responses":{"202":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"406":{"description":"Not acceptable - Failed due to report date bein...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable entity - Failed due to invalid pa...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/targets":{"get":{"tags":["Targeting"],"summary":"Gets a list of targeting clauses.","description":"Gets a list of targeting clauses objects for a requested set of Sponsored Display targets.","operationId":"listTargetingClauses","parameters":[{"name":"startIndex","in":"query","description":"Optional. 0-indexed record offset for the result set. Defaults to 0.","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Number of records to include in the paged response. Defaults to max page size.","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. Restricts results to those with `state` set to values in the specified comma-separated list.","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"targetIdFilter","in":"query","description":"Optional. Restricts results to ads with the specified `tagetId` specified in comma-separated list","schema":{"type":"string"}},{"name":"adGroupIdFilter","in":"query","description":"Optional list of comma separated adGroupIds. Restricts results to targeting clauses with the specified `adGroupId`.","schema":{"type":"string"}},{"name":"campaignIdFilter","in":"query","description":"Optional. Restricts results to targeting clauses within campaigns specified in comma-separated list.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TargetingClause"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Targeting"],"summary":"Updates one or more targeting clauses.","description":"Updates one or more targeting clauses. Targeting clauses are identified using their targetId. The mutable fields are `bid` and `state`. Maximum length of the array is 100 objects.","operationId":"updateTargetingClauses","parameters":[],"requestBody":{"description":"A list of up to 1000 targeting clauses. Mutable fields:\n* `state`\n* `bid` (only mutable when the targeting clause's adGroup does not have any enabled optimization rule)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpdateTargetingClause"}}}},"required":false},"responses":{"207":{"description":"Multi-Status","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TargetResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Targeting"],"summary":"Creates one or more targeting clauses.","description":"Successfully created targeting clauses are assigned a unique `targetId` value.\n\nCreate new targeting clauses for **both** Audience and Contextual campaigns with tactic 'T00030' using the above and the following:\n| Contextual targeting clause | Description |\n|------------------|-------------|\n| si...","operationId":"createTargetingClauses","parameters":[],"requestBody":{"description":"A list of targeting clauses for creation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateTargetingClause"}}}},"required":false},"responses":{"207":{"description":"multi-status","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TargetResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/targets/{targetId}":{"get":{"tags":["Targeting"],"summary":"Gets a targeting clause specified by identifier.","description":"This call returns the minimal set of targeting clause fields.","operationId":"getTargets","parameters":[{"name":"targetId","in":"path","description":"The identifier of a targeting clause.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetingClause"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Targeting"],"summary":"Sets the `state` of a targeting clause to `archived`.","description":"Equivalent to using the `updateTargetingClauses` operation to set the `state` property of a targeting clause to `archived`. See [Developer\nNotes](http://advertising.amazon.com/API/docs/guides/developer_notes#Archiving) for more information.","operationId":"archiveTargetingClause","parameters":[{"name":"targetId","in":"path","description":"The identifer of a targeting clause.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/targets/extended":{"get":{"tags":["Targeting"],"summary":"Gets a list of targeting clause objects with extended fields.","description":"Gets an array of TargetingClauseEx objects for a set of requested targets. Note that this call returns the full set of targeting clause extended fields, but is less efficient than getTargets.","operationId":"listTargetingClausesEx","parameters":[{"name":"startIndex","in":"query","description":"Optional. 0-indexed record offset for the result set. Defaults to 0.","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Number of records to include in the paged response. Defaults to max page size.","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. Restricts results to keywords with state within the specified comma-separated list. Must be one of: `enabled`, `paused`, or `archived`. Default beh...","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"targetIdFilter","in":"query","description":"Optional. Restricts results to ads with the specified `tagetId` specified in comma-separated list","schema":{"type":"string"}},{"name":"adGroupIdFilter","in":"query","description":"Optional list of comma separated adGroupIds. Restricts results to targeting clauses with the specified `adGroupId`.","schema":{"type":"string"}},{"name":"campaignIdFilter","in":"query","description":"Optional. Restricts results to ads within campaigns specified in comma-separated list.","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TargetingClauseEx"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/targets/extended/{targetId}":{"get":{"tags":["Targeting"],"summary":"Gets extended information for a targeting clause.","description":"Gets a targeting clause object with extended fields. Note that this call returns the full set of targeting clause extended fields, but is less efficient than getTarget.","operationId":"getTargetsEx","parameters":[{"name":"targetId","in":"path","description":"The identifier of a targeting clause.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetingClauseEx"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/targets/recommendations":{"post":{"tags":["Targeting Recommendations"],"operationId":"getTargetRecs","summary":"Returns a set of recommended products and categories to target","description":"This API provides product, category and standard audience recommendations to target based on the list of input ASINs.","parameters":[{"name":"locale","in":"query","description":"The requested locale from query parameter to return translated category recommendations.","required":false,"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsLocale"}}],"requestBody":{"content":{"application/vnd.sdtargetingrecommendations.v3.5+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsRequestV35"}},"application/vnd.sdtargetingrecommendations.v3.4+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsRequestV34"}},"application/vnd.sdtargetingrecommendations.v3.3+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsRequestV33"}},"application/vnd.sdtargetingrecommendations.v3.2+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsRequestV32"}},"application/vnd.sdtargetingrecommendations.v3.1+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsRequestV31"}},"application/vnd.sdtargetingrecommendations.v3.0+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsRequest"}}}},"responses":{"200":{"description":"Successful operation.","content":{"application/vnd.sdtargetingrecommendations.v3.5+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsResponseV35"}},"application/vnd.sdtargetingrecommendations.v3.4+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsResponseV34"}},"application/vnd.sdtargetingrecommendations.v3.3+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsResponseV33"}},"application/vnd.sdtargetingrecommendations.v3.2+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsResponseV32"}},"application/vnd.sdtargetingrecommendations.v3.1+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsResponseV31"}},"application/vnd.sdtargetingrecommendations.v3.0+json":{"schema":{"$ref":"#/components/schemas/SDTargetingRecommendationsResponse"}}}},"400":{"description":"Generic bad request error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}}}}},"/sd/campaigns/budgetRecommendations":{"post":{"tags":["Budget Recommendations"],"operationId":"getSDBudgetRecs","summary":"Returns recommended daily budget and estimated missed opportunities for campaigns","description":"Given a list of campaigns as input, this API provides the following metrics:\n<br> <b>1.","parameters":[{"$ref":"#/components/parameters/accountHeader"}],"requestBody":{"content":{"application/vnd.sdbudgetrecommendations.v3+json":{"schema":{"$ref":"#/components/schemas/SDBudgetRecommendationsRequest"}}}},"responses":{"207":{"description":"Multi-status.","content":{"application/vnd.sdbudgetrecommendations.v3+json":{"schema":{"$ref":"#/components/schemas/SDBudgetRecommendationsResponse"}}}},"400":{"description":"Generic bad request error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"415":{"description":"Unsupported Media Type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDErrorResponse"}}}}}}},"/sd/negativeTargets":{"get":{"tags":["Negative Targeting"],"summary":"Gets a list of negative targeting clauses.","description":"Gets a list of negative targeting clauses objects for a requested set of Sponsored Display negative targets.","operationId":"listNegativeTargetingClauses","parameters":[{"name":"startIndex","in":"query","description":"Optional. 0-indexed record offset for the result set. Defaults to 0.","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Number of records to include in the paged response. Defaults to max page size.","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. Restricts results to those with state within the specified comma-separated list. Must be one of: `enabled`, `paused`, or `archived`. Default behavi...","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"adGroupIdFilter","in":"query","description":"Optional list of comma separated adGroupIds. Restricts results to negative targeting clauses with the specified `adGroupId`.","schema":{"type":"string"}},{"name":"campaignIdFilter","in":"query","description":"Optional. Restricts results to targeting clauses within campaigns specified in comma-separated list.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NegativeTargetingClause"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Negative Targeting"],"summary":"Updates one or more negative targeting clauses.","description":"Updates one or more negative targeting clauses. Negative targeting clauses are identified using their targetId. The mutable field is `state`. Maximum length of the array is 100 objects.","operationId":"updateNegativeTargetingClauses","parameters":[],"requestBody":{"description":"A list of up to 100 negative targeting clauses. Note that the only mutable field is `state`.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpdateNegativeTargetingClause"}}}},"required":false},"responses":{"207":{"description":"Multi-Status","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TargetResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Negative Targeting"],"summary":"Creates one or more negative targeting clauses.","description":"Successfully created negative targeting clauses associated with an ad group are assigned a unique target identifier.\nProduct negative targeting clause examples:\n| Negative targeting clause | Description |\n|---------------------------|-------------|\n| asinSameAs=B0123456789 | Negatively target thi...","operationId":"createNegativeTargetingClauses","parameters":[],"requestBody":{"description":"A list of up to 100 negative targeting clauses for creation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateNegativeTargetingClause"}}}},"required":false},"responses":{"207":{"description":"Multi-Status","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TargetResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/negativeTargets/{negativeTargetId}":{"get":{"tags":["Negative Targeting"],"summary":"Gets a negative targeting clause specified by identifier.","description":"This call returns the minimal set of negative targeting clause fields, but is more efficient than getNegativeTargetsEx.","operationId":"getNegativeTargets","parameters":[{"name":"negativeTargetId","in":"path","description":"The negative targeting clause identifier.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NegativeTargetingClause"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Negative Targeting"],"summary":"Sets the `state` of a negative targeting clause to `archived`.","description":"Equivalent to using the updateNegativeTargetingClauses operation to set the `state` property of a targeting clause to `archived`. See [Developer Notes](http://advertising.amazon.com/API/docs/guides/developer_notes#Archiving) for more information.","operationId":"archiveNegativeTargetingClause","parameters":[{"name":"negativeTargetId","in":"path","description":"The identifier of a negative targeting clause.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/negativeTargets/extended":{"get":{"tags":["Negative Targeting"],"summary":"Gets a list of negative targeting clause objects with extended fields.","description":"Gets an array of NegativeTargetingClauseEx objects for a set of requested negative targets. Note that this call returns the full set of negative targeting clause extended fields, but is less efficient than getNegativeTargets.","operationId":"listNegativeTargetingClausesEx","parameters":[{"name":"startIndex","in":"query","description":"Optional. 0-indexed record offset for the result set. Defaults to 0.","schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","description":"Optional. Number of records to include in the paged response. Defaults to max page size.","schema":{"type":"integer","format":"int32"}},{"name":"stateFilter","in":"query","description":"Optional. Restricts results to keywords with state within the specified comma-separated list. Must be one of: `enabled`, `paused`, or `archived`. Default beh...","schema":{"type":"string","enum":["enabled","paused","archived","enabled, paused","enabled, archived","paused, archived","enabled, paused, archived"],"default":"enabled, paused, archived"}},{"name":"targetIdFilter","in":"query","description":"Optional. Restricts results to ads with the specified `tagetId` specified in comma-separated list","schema":{"type":"string"}},{"name":"adGroupIdFilter","in":"query","description":"Optional list of comma separated adGroupIds. Restricts results to negative targeting clauses with the specified `adGroupId`.","schema":{"type":"string"}},{"name":"campaignIdFilter","in":"query","description":"Optional. Restricts results to ads within campaigns specified in the comma-separated list.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NegativeTargetingClauseEx"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/negativeTargets/extended/{negativeTargetId}":{"get":{"tags":["Negative Targeting"],"summary":"Gets extended information for a negative targeting clause.","description":"Gets a negative targeting clause with extended fields. Note that this call returns the full set of negative targeting clause extended fields, but is less efficient than getNegativeTarget.","operationId":"getNegativeTargetsEx","parameters":[{"name":"negativeTargetId","in":"path","description":"The negative targeting clause identifier.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NegativeTargetingClauseEx"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/{recordType}/snapshot":{"post":{"tags":["Snapshots"],"summary":"Request a file-based snapshot of all entities of the specified type in the account satisfying the filtering criteria","description":"**Note: Snapshots APIs are deprecated and will be shut off on October 15, 2024.","operationId":"createSnapshot","deprecated":true,"parameters":[{"name":"recordType","in":"path","description":"**Note: Snapshots APIs are deprecated and will be shut off on October 15, 2024. For replacement functionality, see the [exports](guides/exports/overview) API...","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request a snapshot file for all entities of a single record type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotRequest"}}}},"responses":{"202":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/snapshots/{snapshotId}":{"get":{"tags":["Snapshots"],"summary":"Retrieve status, metadata, and location of previously requested snapshot","description":"**Note: Snapshots APIs are deprecated and will be shut off on October 15, 2024.","operationId":"getSnapshot","deprecated":true,"parameters":[{"name":"snapshotId","in":"path","description":"The Snapshot identifier.","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/snapshots/{snapshotId}/download":{"get":{"tags":["Snapshots"],"summary":"Download previously requested snapshot","description":"**Note: Snapshots APIs are deprecated and will be shut off on October 15, 2024.","operationId":"downloadSnapshot","deprecated":true,"parameters":[{"name":"snapshotId","in":"path","description":"The Snapshot identifier.","required":true,"schema":{"type":"string"}}],"responses":{"307":{"description":"Successful operation."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Not Found - Requested resource does not exist o...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/creatives":{"get":{"tags":["Creatives"],"summary":"Gets a list of creatives","description":"","operationId":"listCreatives","parameters":[{"name":"startIndex","in":"query","description":"Sets a cursor into the requested set of creatives. Use in conjunction with the `count` parameter to control pagination of the returned array. 0-indexed recor...","schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","description":"Sets the number of creative objects in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example, to return t...","schema":{"type":"integer","format":"int32","maximum":100,"default":100}},{"name":"adGroupIdFilter","in":"query","description":"The returned array includes only creatives associated with ad group identifiers matching those specified in the comma-delimited string. Cannot be used in con...","schema":{"type":"string"}},{"name":"creativeIdFilter","in":"query","description":"The returned array includes only creatives with identifiers matching those specified in the comma-delimited string. Cannot be used in conjunction with the `a...","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Creative"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["Creatives"],"summary":"Updates one or more creatives.","description":"","operationId":"updateCreatives","parameters":[],"requestBody":{"description":"An array of creative objects to update. Maximum length of the array is 100 objects.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreativeUpdate"},"minItems":1,"maxItems":100}}}},"responses":{"207":{"description":"Multi-status.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreativeResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Creatives"],"summary":"A POST request of one or more creatives.","description":"","operationId":"createCreatives","parameters":[],"requestBody":{"description":"An array of Creative objects to create. Maximum length of the array is 100 objects. Note - when using productAds with landingPageURL of OFF_AMAZON_LINK, STORE, or MOMENT, the following properties a...","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateCreative"},"minItems":1,"maxItems":100}}}},"responses":{"207":{"description":"Multi-status.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreativeResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/creatives/preview":{"post":{"tags":["Creatives"],"summary":"Gets creative preview HTML.","description":"","operationId":"postCreativePreview","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreativePreviewRequest"}}}},"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreativePreviewResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/moderation/creatives":{"get":{"tags":["Creatives"],"summary":"Gets a list of creative moderations","description":"","operationId":"listCreativeModerations","parameters":[{"name":"language","in":"query","description":"The language of the returned creative moderation metadata.","required":true,"schema":{"$ref":"#/components/schemas/Locale"}},{"name":"startIndex","in":"query","description":"Sets a cursor into the requested set of creative moderations. Use in conjunction with the `count` parameter to control pagination of the returned array. 0-in...","schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","description":"Sets the number of creative objects in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example, to return t...","schema":{"type":"integer","format":"int32","maximum":100,"default":100}},{"name":"adGroupIdFilter","in":"query","description":"The returned array includes only creative moderations associated with ad group identifiers matching those specified in the comma-delimited string. Cannot be ...","schema":{"type":"string"}},{"name":"creativeIdFilter","in":"query","description":"The returned array includes only creative moderations with creative identifiers matching those specified in the comma-delimited string. Cannot be used in con...","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreativeModeration"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/brandSafety/{requestId}/results":{"get":{"tags":["Brand Safety List"],"summary":"Gets the results for the given request","description":"When a user adds domains to their Brand Safety Deny List, the request is processed asynchronously, and a requestId is provided to the user.","operationId":"getRequestResults","parameters":[{"description":"The ID of the request previously submitted.","name":"requestId","in":"path","required":true,"schema":{"type":"string"}},{"name":"startIndex","in":"query","required":false,"description":"Optional. Sets a cursor into the requested set of results. Use in conjunction with the count parameter to control pagination of the returned array. 0-indexed...","schema":{"type":"integer","minimum":0}},{"name":"count","in":"query","required":false,"description":"Optional. Sets the number of results in the returned array. Use in conjunction with the startIndex parameter to control pagination. For example, to return th...","schema":{"type":"integer","minimum":0,"maximum":1000}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandSafetyRequestResultsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/brandSafety/{requestId}/status":{"get":{"tags":["Brand Safety List"],"summary":"Gets the status of the given request","description":"When a user modifies their Brand Safety Deny List, the request is processed asynchronously, and a requestId is provided to the user. This requestId can be used to check the status of the request for up to 90 days from when the request was submitted.\n","operationId":"getRequestStatus","parameters":[{"description":"The ID of the request previously submitted.","name":"requestId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandSafetyRequestStatusResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - Request failed because user is n...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - Request failed because user does no...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Unprocessable Entity - Request was understood, ...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Too Many Requests - Request was rate-limited. R...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal Server Error - Something went wrong on...","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/sd/brandSafety/status":{"get":{"tags":["Brand Safety List"],"summary":"List status of all requests","description":"List status of all Brand Safety List requests. The list will contain requests that were submitte
[...]
