{"openapi":"3.0.2","info":{"title":"Amazon Ads API - SponsoredBrandsV3","version":"3.0","description":"Isolated spec for SponsoredBrandsV3"},"servers":[{"url":"https://advertising-api.amazon.com"},{"url":"https://advertising-api-eu.amazon.com"},{"url":"https://advertising-api-fe.amazon.com"}],"tags":[{"name":"Keywords"},{"name":"Negative keywords"},{"name":"Product targeting"},{"name":"Negative product targeting"},{"name":"Theme targeting"},{"name":"Targeting recommendations"},{"name":"Bid recommendations"},{"name":"Budget Rules Recommendations"},{"name":"Keyword Recommendations"},{"name":"Stores","description":"(Not available for video campaigns)"},{"name":"Landing page asins","description":"(Not available for video campaigns)"},{"name":"Media"},{"name":"Brands"},{"name":"Moderation","description":"(Not available for video campaigns)"}],"paths":{"/sb/negativeKeywords":{"get":{"tags":["Negative keywords"],"operationId":"listNegKws","summary":"Gets an array of negative keywords, filtered by optional criteria.","description":"**Note**: Negative keywords associated with BrandVideo ad groups are only available in v3.2 version.","parameters":[{"name":"startIndex","schema":{"type":"integer","default":0},"in":"query","description":"Sets a zero-based offset into the requested set of negative keywords. Use in conjunction with the `count` parameter to control pagination of the returned array."},{"name":"count","schema":{"type":"integer","default":"max page size"},"in":"query","description":"Sets the number of negative keywords in the returned array. Use in conjunction with the `startIndex` parameter to control pagination. For example, to return ..."},{"name":"matchTypeFilter","schema":{"$ref":"#/components/schemas/NegativeMatchType"},"in":"query","description":"The returned array is filtered to include only negative keywords with `matchType` set to one of the values in the specified comma-delimited list."},{"name":"keywordText","schema":{"type":"string"},"in":"query","description":"The returned array includes only negative keywords with the specified text."},{"name":"stateFilter","schema":{"$ref":"#/components/schemas/NegativeState"},"in":"query","description":"The returned array includes only negative keywords with `state` set to the specified value."},{"name":"campaignIdFilter","schema":{"type":"string"},"in":"query","description":"The returned array includes only negative keywords associated with campaigns matching those specified by identifier in the comma-delimited string."},{"name":"adGroupIdFilter","schema":{"type":"string"},"in":"query","description":"The returned array includes only negative keywords associated with ad groups matching those specified by identifier in the comma-delimited string."},{"name":"keywordIdFilter","schema":{"type":"string"},"in":"query","description":"The returned array includes only negative keywords with identifiers matching those specified in the comma-delimited string."},{"name":"creativeType","schema":{"$ref":"#/components/schemas/CreativeType"},"in":"query","description":"Filter by the type of creative the campaign is associated with. To get negative keywords associated with non-video campaigns specify 'productCollection'. To ..."}],"responses":{"200":{"description":"Success.","content":{"application/vnd.sbnegativekeyword.v3.2+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SBNegativeKeyword"}}},"application/vnd.sbnegativekeyword.v3+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SBNegativeKeyword"}}}}}}},"put":{"tags":["Negative keywords"],"operationId":"updateNegKws","summary":"Updates one or more negative keywords.","description":"Updates one or more targeting clauses. Operation supports a maximum list size of 100 negative keywords. <bold>Note</bold> that negative keywords can be updated on campaigns where campaign's serving status is not one of `archived`, `terminated`, `rejected`, or `ended`.","parameters":[],"requestBody":{"description":"An array of negative keywords.","content":{"application/json":{"schema":{"type":"array","maximum":100,"items":{"properties":{"keywordId":{"description":"The identifier of the negative keyword.","type":"integer","format":"int64"},"adGroupId":{"description":"The identifier of the ad group to which the negative keyword is associated.","type":"integer","format":"int64"},"campaignId":{"description":"The identifier of the campaign to which the negative keyword is associated.","type":"integer","format":"int64"},"state":{"$ref":"#/components/schemas/SBNegativeKeywordState"}}}}}}},"responses":{"207":{"description":"Multi-status. Note that the order of the return...","content":{"application/vnd.sbkeywordresponse.v3+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SBKeywordResponse"}}}}}}},"post":{"tags":["Negative keywords"],"operationId":"createNegKws","summary":"Creates one or more negative keywords.","description":"Creates one or more negative targeting clauses.","parameters":[],"requestBody":{"description":"An array of negative keywords.","content":{"application/json":{"schema":{"type":"array","maximum":100,"items":{"properties":{"adGroupId":{"description":"The identifier of the ad group to which the negative keyword is associated.","type":"integer","format":"int64"},"campaignId":{"description":"The identifier of the campaign to which the negative keyword is associated.","type":"integer","format":"int64"},"keywordText":{"type":"string","description":"The keyword text. Maximum length is ten words if 'matchType' is 'negativeExact'. Maximum length is 4 words if 'matchType' is 'negativePhrase'"},"matchType":{"$ref":"#/components/schemas/NegativeMatchType"}}}}}}},"responses":{"207":{"description":"Multi-status. Note that the order of the return...","content":{"application/vnd.sbkeywordresponse.v3+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SBKeywordResponse"}}}}}}}},"/sb/negativeKeywords/{keywordId}":{"get":{"tags":["Negative keywords"],"operationId":"getNegKw","summary":"Gets a negative keyword specified by identifier.","parameters":[{"name":"keywordId","description":"The identifier of an existing negative keyword.","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success.","content":{"application/vnd.sbnegativekeyword.v3+json":{"schema":{"properties":{"keywordId":{"description":"The identifier of the negative keyword.","type":"integer","format":"int64"},"adGroupId":{"description":"The identifier of the ad group to which the negative keyword is associated.","type":"integer","format":"int64"},"campaignId":{"description":"The identifier of the campaign to which the negative keyword is associated.","type":"integer","format":"int64"},"keywordText":{"type":"string","description":"The keyword text. Maximum length of string is ten words if `matchType` is set to `negativeExact`. Maximum length is 4 words if `matchType` is set to `negativePhrase`."},"matchType":{"$ref":"#/components/schemas/NegativeMatchType"},"state":{"$ref":"#/components/schemas/SBNegativeKeywordState"}}}}}}}},"delete":{"tags":["Negative keywords"],"operationId":"archiveNegKw","summary":"Archives a negative keyword specified by identifier.","description":"This operation is equivalent to an update operation that sets the status field to 'archived'. Note that setting the status field to 'archived' is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/v2/guides/developer_notes) for more information.","parameters":[{"name":"keywordId","description":"The identifier of an existing campaign.","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success.","content":{"application/vnd.sbkeywordresponse.v3+json":{"schema":{"$ref":"#/components/schemas/SBKeywordResponse"}}}},"404":{"description":"Bad request. The specified negative keyword ide...","content":{"application/vnd.error.v3+json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"CreativeType":{"type":"string","enum":["productCollection","video"],"description":"collection is deprecated in favor of productCollection."},"SBNegativeKeyword":{"properties":{"keywordId":{"description":"The keyword identifier.","type":"integer","format":"int64"},"adGroupId":{"description":"The identifier of the ad group associated with the keyword.","type":"integer","format":"int64"},"campaignId":{"description":"The identifier of the campaign associated with the keyword.","type":"integer","format":"int64"},"keywordText":{"description":"The keyword text. The maximum number of words for this string is 10.","type":"string"},"matchType":{"$ref":"#/components/schemas/NegativeMatchType"},"state":{"$ref":"#/components/schemas/SBKeywordState"}}},"Error":{"properties":{"code":{"type":"string","readOnly":true},"details":{"type":"string","readOnly":true}}},"SBKeywordState":{"type":"string","enum":["enabled","paused","archived","draft"]},"SBKeywordResponse":{"description":"Applies to:\n| Operation | Path |\n|-----------| -----|\n|[createKeywords](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Keywords)| POST /sb/keywords|\n|[createNegativeKeywords](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Negative_Keywords)|POST /sb/negativeKeywords|\n|[updateNegativeKeywords](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Negative_Keywords)|PUT /sb/negativeKeywords|\n|[archiveNegativeKeyword](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Negative_Keywords)|DELETE /sb/negativeKeywords/{keywordId}|\n<br/>","properties":{"keywordId":{"description":"The keyword identifier.","type":"integer","format":"int64"},"code":{"description":"An enumerated response code.","type":"string"},"description":{"description":"A human-readable description of the enumerated response code in the `code` field.","type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/KeywordError"},"description":"An array of error objects."}}},"NegativeState":{"type":"string","enum":["enabled","archived"]},"KeywordError":{"x-amazon-advertising-package":"SBPublicAPISwagger","type":"object","properties":{"KeywordError":{"allOf":[{"$ref":"#/components/schemas/BasicErrorObject"},{"type":"object","properties":{"keywordText":{"type":"string"},"matchType":{"type":"string"},"bid":{"type":"string"},"note":{"type":"string"}}}]}}},"SBNegativeKeywordState":{"type":"string","enum":["enabled","archived","draft"],"description":"The current state of the negative keyword."},"NegativeMatchType":{"type":"string","description":"The negative match type. For more information, see [negative keyword match types](https://advertising.amazon.com/help#GHTRFDZRJPW6764R) in the Amazon Ads support center.","enum":["negativeExact","negativePhrase"]},"BasicErrorObject":{"x-amazon-advertising-package":"SBPublicAPISwagger","required":["message","reason"],"properties":{"message":{"type":"string"},"reason":{"type":"string"},"location":{"type":"string"},"trigger":{"type":"string"}}}},"responses":{},"parameters":{},"examples":{},"requestBodies":{},"headers":{},"securitySchemes":{"oauth2AuthorizationCode":{"type":"oauth2","description":"Login with Amazon. For more information see [Login with Amazon authorization code grant](https://developer.amazon.com/docs/login-with-amazon/authorization-code-grant.html).","flows":{"authorizationCode":{"authorizationUrl":"https://www.amazon.com/ap/oa","tokenUrl":"https://api.amazon.com/auth/o2/token","scopes":{"cpc_advertising:campaign_management":"Modify your advertising campaigns and access performance data"}}}},"bearerAuth":{"type":"http","scheme":"bearer"}},"links":{},"callbacks":{}}}